
{% block content %}
{% include "header.html" %}

<div class="home">
    <h1>Welcome to JALA Academy</h1>
    <p>Do you want to Learn Selenium Automation completely with Practical Scenarios in 7 Days?</p>
    <div class="box">
        <p>You Learn Everything by doing projects if you are very serious to gat a software job in 60 days contact us :
        <a href="https://jalaacademy.com/" target="_blank">http://jalatechnologies.com/contact-us.html</a></p>
    </div>
    <div class="box1">
        <b> For working people can double the salery in 60 Days </b>
    </div>
</div>




{% endblock %}



